@page "/"

<div class="ui-designer-app">
    <EditorPanel/>
    <LayoutEditor/>
    <ItemEditorPanel/>
</div>

<style>
    .ui-designer-app {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
</style>