<div class="editor-panel">

</div>

<style>
    .editor-panel {
        min-width: 350px;
        height: 100%;
        background-color: var(--bg-secondary);
        border: 1px solid #e5e7eb;
    }
</style>