<div class="layout-editor">
    <div class="resizeable-panel">
        <div class="example-panel-container">
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
            <div class="example-panel"></div>
        </div>
    </div>
</div>

<style>
    .layout-editor {
        flex-grow: 1;
        height: 100%;
        background-color: var(--bg-primary);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resizeable-panel {
        resize: both;
        overflow: hidden;
        border: 2px solid black;
        width: 90%;
        height: 80%;

        padding: 8px;
    }

    .example-panel-container {
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 8px;
        justify-items: stretch;
        height: 100%;
    }

    .example-panel {
        border: 3px dashed darkorange;
    }
</style>